body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    padding-top: 5px;    
}
.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}
.navbar a:hover {
    background-color: #575757;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
    color: #333;
}
.section {
    margin-bottom: 20px;
}
.section h2 {
    color: #444;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}
.section p {
    color: #666;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    bottom: 0;
    position: absolute;
}
.footer a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}
.footer a:hover{
    background-color: #575757;
}